* {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  margin:0;
  line-height:1.2em;
}

body {
  background-color: white;
  margin:0;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow:hidden;
}

#map {
  width:100vw;
  height: 100vh;
  z-index:4;
}

.leaflet-div-icon {
  background:transparent !important;
  border: none !important;
  text-align:center !important;
  white-space: nowrap !important;
}

.tooltip-leaflet {
  color:white !important;
  background-color:transparent !important;
  border-color:transparent !important;
  box-shadow:none !important;
}

.tooltip-leaflet.leaflet-tooltip-right::before {
  border-right-color:transparent !important;
}

.control-behind {
  background-color:rgba(0,0,0,0.7);
  color:white;
  text-align:center;
  padding:1em;
  font-weight:bold;
  width:50vw;
  margin-right:25vw !important;
}

.control-behind div {
  margin-bottom:0.25em;
}

.control-behind button{
  margin:0.25em;
  padding:0.1em 0em;
  width:100%;
  font-weight:bold;
  color:white;
  cursor:pointer;
}

.north {
  background-color:rgb(194, 0, 0);
}

.south {
  background-color:rgb(71, 157, 255);
}